<app-navbar></app-navbar>
<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-up-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="text" placeholder="First Name" />
        </div>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="text" placeholder="Last Name" />
        </div>
        <div class="input-field">
          <i class="bi bi-envelope"></i>
          <input type="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="bi bi-eye-slash-fill"></i>
          <input type="password" placeholder="Password" />
        </div>
        <div class="input-field">
          <i class="bi bi-eye-slash-fill"></i>
          <input type="password" placeholder=" Confirm Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="bi bi-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panels-container">
  <div class="panel left-panel">
    <div class="content">  
     <img src="./assets/image/progress.svg"  width = "200"  class="image" alt="" />
    </div>
  </div>
</div>