.home .text-box {
    display: flex;
}
.text-box h1{
    font-size: 62px;
    position: absolute;
    align-items: center;
    left: 55px;
    top: 155px;
}
.home .text-box p{
    font-family: cursive;
    font-size: 34px;
    position: absolute;
    align-items: center;
    left: 50px;
}
.text-box img{
    position: absolute;
    right: 55px;
    margin-top: -220px;
}

.home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}
.home .text-box.banner{
    position: absolute;
    right: 50px;
    color: white;
    font-size: 4rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.home .text-box button{
    height: 4rem;
    width: 18rem;
    background: rgb(219, 206, 236);
    color: blueviolet;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem black;
    position: absolute;
    align-items: center;
    
}
.home button:hover{
    letter-spacing: .1rem;
}
.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    background: url("/assets/image/home-bg.png");
    width: 100%;
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    animation: waves 10s linear infinite;
}
.home .wave2{
    animation-direction: reverse;
    opacity: .2;
}
.home .wave3{
    animation-direction: reverse;
    opacity: .2;
}
@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}
.home .fa-briefcase{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color:rgb(197, 214, 224);
}
.home .b1{
    top: 10%;
    left: -15rem;
}
.home .b2{
    bottom: 23%;
    right: -13rem;
}

.job-content h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    font-family: cursive;
}
a{
    color: rgb(78, 21, 21);
    text-decoration: none;
}
p{
    color: black;
}
.hero{
    height: calc(100vh -10vh);
    display: flex;
    justify-content: space-between;
}
.job-content{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    
}
.heading-primary{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    color: black;
    margin-bottom: 5rem;
}
.hero-img{
   top: 25px;
   height: 820px;
}
.hero-img  img{
    width: 100%;
    height: 100%;
}
.btn{
    display: inline-block;
    background-color: rgb(122, 157, 180);
    padding: 0.5rem 1.5rem;
    margin-top: 4rem;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.job-detail:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.job-detail{
    flex-basis: 31%;
    background: #fff3f3 ;
    padding: 5px 12px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
.job-detail h1 {
    align-items: center;
}
.job-detail > h4{
    color: orchid;
    font-size: 0.9rem;
}
.job-detail >p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.job-content{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 1.2rem;
    padding: 0.2rem 1.1rem;
}
@media(max-width:700px){
    .home .banner{
        font-size: 4rem;
    }
    .home .slogan{
        font-size: 1.7rem;
    }
    .row{
        flex-direction: column;
    }

}