<app-navbar> </app-navbar>
<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign-Up</h2>
        <div class="">
          <div class="row">
            <div class="col">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="First Name" id="firstName" required />
              </div>
            </div>
            <div class="col order-4">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="firstName" placeholder="Last Name" id="lastName" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="First Name" id="f" required />
              </div>
            </div>

            <div class="col order-4">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="firstName" placeholder="Last Name" id="5" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="First Name" id="f" required />
              </div>
            </div>

            <div class="col order-4">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <input type="firstName" placeholder="Last Name" id="5" required />
              </div>
            </div>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              MALE
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Completed
            </label>
          </div>
        </div>
        <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab bi-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
      </form>
    </div>
  </div>
</div>
