<p>Testing the main</p>
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />-->
<!--<div class="container">-->
<!--  <aside>-->
<!--    <div class="top">-->
<!--      <div class="logo">-->
<!--        <img src="">-->
<!--        <h2>J~Track</h2>-->
<!--      </div>-->
<!--      <div class="close" id="close-btn">-->
<!--        <span class="material-symbols-sharp">-->
<!--          close-->
<!--       </span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="sidebar">-->
<!--      <a href="#" class="active">-->
<!--        <span class="material-symbols-sharp">-->
<!--          grid_view-->
<!--        </span>-->
<!--        <h3>DashBoard</h3>-->
<!--      </a>-->
<!--      <a href="#" class="active">-->
<!--        <span class="material-symbols-sharp">-->
<!--          person-->
<!--        </span>-->
<!--        <h3>Users</h3>-->
<!--      </a>-->
<!--      <a href="#" class="active">-->
<!--        <span class="material-symbols-sharp">-->
<!--          settings-->
<!--        </span>-->
<!--        <h3>Settings</h3>-->
<!--      </a>-->
<!--      <a href="#" class="active">-->
<!--        <span class="material-symbols-sharp">-->
<!--          monitoring-->
<!--        </span>-->
<!--        <h3>Statistics</h3>-->
<!--      </a>-->
<!--      <a href="#" class="active">-->
<!--        <span class="material-symbols-sharp">-->
<!--          logout-->
<!--       </span>-->
<!--        <h3>Logout</h3>-->
<!--      </a>-->
<!--    </div>-->
<!--  </aside>-->
<!--  <main>-->
<!--    <h1>ADMIN DASH</h1>-->
<!--    <div class="date">-->
<!--      <input type="date">-->
<!--    </div>-->
<!--    <div class="insights">-->
<!--      <div class="recruiters">-->
<!--        <span class="material-symbols-sharp">-->
<!--          person-->
<!--        </span>-->
<!--        <div class="middle">-->
<!--         <div class="left">-->
<!--            <h3>Total Recruiters</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="jobseekers">-->
<!--        <span class="material-symbols-sharp">-->
<!--          person-->
<!--        </span>-->
<!--        <div class="middle">-->
<!--         <div class="left">-->
<!--            <h3>Total Jobseekers</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="jobs">-->
<!--        <span class="material-symbols-sharp">-->
<!--          work-->
<!--          </span>-->
<!--        <div class="middle">-->
<!--         <div class="left">-->
<!--            <h3>Total Jobs</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="jobs">-->
<!--      <h2>Recent Jobs</h2>-->
<!--      <table>-->
<!--        <thead>-->
<!--          <tr>-->
<!--             <th>Job Name</th>-->
<!--             <th>Job Type</th>-->
<!--             <th>Job Number</th>-->
<!--             <th>Status</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td>Design Specialist</td>-->
<!--            <td>Part Time</td>-->
<!--            <td>02</td>-->
<!--            <td>Pending</td>-->
<!--            <td><span class="material-symbols-sharp">-->
<!--              delete-->
<!--            </span></td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </main>-->
<!--</div>-->


