<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<section id="home" class="home">
    <h1 class="banner">Job Searching & Posting</h1>
    <h3 class="slogan"></h3>
    <a  routerLink=""><button>Create Account</button></a>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

    <div class="fa fa-briefcase b1"></div>
    <div class="fa fa-briefcase b2"></div>
</section>
<!--Example-->
<div class="job-content">
    <h1>Available Job</h1>
    <div class="job-detail">
     <h4><b>Design Specialist(Advanced)</b></h4>
     <p>XYZ Enterprise</p>
     <i class="bi bi-briefcase"><span>0-2years</span></i><br>
     <i class="bi bi-map"><span>Douala</span></i>
     <button type="button" routerLink="/login"><span></span>Apply Now</button>
    </div>
    <div class="job-detail">
     <h4><b>Nursing</b></h4>
      <p>XYZ Hospital</p>
      <i class="bi bi-briefcase"><span>Part-time</span></i><br>
      <i class="bi bi-map"><span>Yaounde</span></i>
      <button type="button" routerLink="/login"><span></span>Apply Now</button>
   </div>
   <div class="job-detail">
     <h4><b>Dentist</b></h4>
     <p>XYZ Hospital</p>
     <i class="bi bi-briefcase"><span>Part-time</span></i><br>
     <i class="bi bi-map"><span>Yaounde</span></i>
     <button type="button" routerLink="/login"><span></span>Apply Now</button>
   </div>
</div>
