<app-navbar></app-navbar>
<div class="container">
    <div class="hero">
        <div class="content">
            <h1 class="heading-primary">
                We are here to make life <br> easier for both <br> Jobseekers and Recruiters.
            </h1>
            <p>

            </p>
            <a routerLink="/login" class="btn">Create Account</a>
        </div>
        <div class="hero-img">
            <img src="assets/image/freelance.svg" alt="Hero Image">
        </div>
    </div>
</div>
<div class="job-content">
    <th>
       <h1>Available Jobs</h1>
    </th>
    <tr>
     <p> Posted Jobs will appear here</p>
    </tr>
</div>